<h1>Year 5/6</h1>
<div class="grid grid-cols-[100px_minmax(70px,_max-content)_auto] grid-rows-auto border grid-rows-4 h-full mb-1" id="year-planner">
    
    @*Term 1*@
    <div class="border flex items-center justify-center border-b-2">Term 1</div>
    <div class="yearview-subjects grid grid-rows-auto col-start-2 row-start-1 border-b-2">
        @foreach (var subject in Subjects.ElementAt(0).Value)
        {
            <input type="text" class=" border p-0.5 " value="@subject" />
        }
    </div>
    <div class="yearview-subjects grid grid-rows-auto col-start-3 row-start-1 border-b-2">
        @foreach (var subject in Subjects.ElementAt(0).Value)
        {
            <input class="border p-0.5" />
        }
    </div>
    @if (_editing)
    {
        <button>X</button>
    }

    @*Term 2*@
    <div class="border flex items-center justify-center border-b-2">Term 2</div>
    <div class="yearview-subjects grid grid-rows-auto  col-start-2 row-start-2 border-b-2">
        @foreach (var subject in Subjects.ElementAt(1).Value)
        {
            <input class="border p-0.5" value="@subject" />
        }
    </div>
    <div class="yearview-subjects grid grid-rows-auto  col-start-3 row-start-2 border-b-2">
        @foreach (var subject in Subjects.ElementAt(1).Value)
        {
            <input class=" border p-0.5" />
        }
    </div>

    @*Term 3*@
    <div class="border flex items-center justify-center border-b-2">Term 3</div>
    <div class="yearview-subjects grid grid-rows-auto  col-start-2 row-start-3 border-b-2">
        @foreach (var subject in Subjects.ElementAt(2).Value)
        {
            <input class=" border p-0.5" value="@subject" />
        }
    </div>
    <div class="yearview-subjects grid grid-rows-auto  col-start-3 row-start-3 border-b-2">
        @foreach (var subject in Subjects.ElementAt(2).Value)
        {
            <input class="border p-0.5" />
        }
    </div>

    @*Term 4*@
    <div class="border flex items-center justify-center">Term 4</div>
    <div class="yearview-subjects grid grid-rows-auto  col-start-2 row-start-4">
        @foreach (var subject in Subjects.ElementAt(3).Value)
        {
            <input class=" border p-0.5" value="@subject" />
        }
    </div>
    <div class="yearview-subjects grid grid-rows-auto  col-start-3 row-start-4">
        @foreach (var subject in Subjects.ElementAt(3).Value)
        {
            <input class=" border p-0.5" />
        }
    </div>
</div>

@*<table>
    <tbody>
        <tr>
            <th rowspan="@Subjects.ElementAt(0).Value.Count">Term 1</th>
            @foreach (var subject in Subjects.ElementAt(0).Value)
            {
                <td>
                    <input type="text" class=" border p-0.5 " value="@subject" />
                </td>
            }
       @foreach (var subject in Subjects.ElementAt(0).Value)
        {
            <td>
               <input class="border p-0.5" />
            </td>
        }
        </tr>
    </tbody>
</table>*@

<button class="border bg-blue-100 p-1" @onclick="AddSubject">Add Subject</button>
<button class="border bg-blue-100 p-1" @onclick="ToggleEdit">Edit</button>

@code {
    private bool _editing = false;
    private Dictionary<int, List<string>> Subjects { get; set; } = new Dictionary<int, List<string>>
    {
       { 1, new List<string> {"Maths", "English", "Health & PE", "HASS"} },
       { 2, new List<string> {"Maths", "English", "Health & PE", "HASS"} },
       { 3, new List<string> {"Maths", "English", "Health & PE", "HASS"} },
       { 4, new List<string> {"Maths", "English", "Health & PE", "HASS"} },
    };

    private void ToggleEdit()
    {
        _editing = !_editing;
    }

    private void AddSubject()
    {
                
    }
}



